*{
    margin: 0;
    padding: 0;
    font-family:Century;
	
}
/* nav section*/
nav{
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../images/2318061.webp);
    height:100vh ;
    background-size: cover;
    background-position: center;
}
    
link{
        flex: 1;
        text-align: right;
    }

ul{
    float: right;
    list-style-type: none;
    margin-top: 40px;
}

ul li{
    display: inline-block;
    font-family: 'Poppins' ,sans-serif;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-size: 80%;
}

ul li a:hover{
    background-color: whitesmoke;
    color: black;
}

ul li.active a{
    background-color: whitesmoke;
    color: black;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%-50%);
}
.title h1{
    color: white;
    font-size: 24px;
    width: 50%;
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%,50%);
    text-align: center;
 }
 
.top{
	background-color: black;
}

/*box animation*/

.container1{
    width: 50% ;
    padding: 50px ;
    flex-direction:row ;
    justify-content: center;
	display: grid;
	margin-left: -20px;
}

 .container2{
    width: 50% ;
    flex-direction:row ;
    justify-content: center;
	display: grid;
	margin-right: -200px;
	margin-left: 230px;
}

.container3{
	width: 50% ;
    padding: 50px ;
    flex-direction:row ;
    justify-content: center;
	display: grid;
	margin-left: -20px;
}

.box{
    width: 70% ;
    margin: 0 10px ;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
	background-color: rgb(110, 9, 9);
	margin-bottom: 20px;

 }

.box img{
    display: block;
    width: 100%;
    border-radius: 2s;
 }

.box :hover  {
	transform: scale(0.9);
    z-index: 5;
}

  
ul li button {
	margin-top: 20px;
	width: 150px;
	height: 50px;
	background-color: rgb(0, 0, 0);
	text-decoration: none;
    color: red ;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 5s  ease;
    font-size: 80%;
	cursor: pointer;

}

div p {
	color: whitesmoke;
	background-color: red;
    padding: 40px;
	margin-left: 50px;
	float: left;
	margin-top: -1950px;
	margin: 100px;
	border-top-left-radius: 350px;
	border-top-right-radius: 50px;
}


       
/*top to page option*/
div .topbtn{
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 22px;
	width: 50px;
	height: 50px;
	background-color: #e74c3c;
	color: whitesmoke;
	border: none;
	cursor: pointer;
	display: none;
}


 /*footer section*/
 .footer-class{
	background: rgb(17, 78, 2);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    margin-top: 5px;
}

.footer-class .leftside,
.footer-class .center,
.footer-class .rightside{
	display: inline-block;
	vertical-align: top;
}



.footer-class .leftside{
	width: 40%;
}



.logofoot{
	color:  #ffffff;
	margin: 0;
}

div.logofoot.image{

  width: 50px;
  height:50px;
}

 
.footer-class .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-class .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-class .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-class .center{
	width: 35%;
}

.footer-class .center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-class .center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-class .center p{
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-class .center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-class .center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-class .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-class .footer-links .link-1:before {
  content: none;
}

 

.footer-class .rightside{
	width: 20%;
}

.footer-class .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-class .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-class .footer-icons{
	margin-top: 25px;
}

.footer-class .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
    font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
    margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-class{
		font: bold 14px sans-serif;
	}

	.footer-class .leftside,
	.footer-class .center,
	.footer-class .rightside{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-class .center i{
		margin-left: 0;
	}

}

 @media(max-width:700px){
    .title{
        font-size: 20px;
    }
 }
