*{
    margin: 0;
    padding: 0;
    font-family:Century;
}
/* nav section*/
nav{
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(./images/22.gif);
    height:100vh ;
    background-size: cover;
    background-position: center;
}
    
link{
        flex: 1;
        text-align: right;
    }

ul{
    float: right;
    list-style-type: none;
    margin-top: 40px;
}

ul li{
    display: inline-block;
    font-family: 'Poppins' ,sans-serif;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-size: 80%;
}

ul li a:hover{
    background-color: whitesmoke;
    color: black;
}

ul li.active a{
    background-color: whitesmoke;
    color: black;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%-50%);
}
 .title h1{
    color: white;
    font-size: 24px;
    width: 50%;
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%,50%);
    text-align: center;
 }
/*animation*/
 *{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
 }
 
 div .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2222;
 }

div.body1{
    display: grid;
    grid-template-columns: auto auto auto;
}

 .wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;
 }
 
  
 .card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #ffff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgb(0,0,0,0.5);
    transition: 0.5s ease-in-out;
 }
.card:hover{
    transform: translateY(20px);
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgb(0,176,155,0.5),rgb(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
 
.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #666;

}

.card .info{
    position: relative;
    z-index: 3;
    color: #ffff;
    opacity: 1;
    transform: 0.5s all;
}

.card .info h1 {
    opacity: 1;
    transform: translate(0px);
}

.card .info h1{
    margin: 1;
}

.card .info{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
 /*footer section*/
.footer-class{
	background: rgb(17, 78, 2);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    margin-top: 5px;
}

.footer-class .leftside,
.footer-class .center,
.footer-class .rightside{
	display: inline-block;
	vertical-align: top;
}



.footer-class .leftside{
	width: 40%;
}



.logofoot{
	color:  #ffffff;
	margin: 0;
}

div.logofoot.image{

  width: 50px;
  height:50px;
}

 
.footer-class .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-class .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-class .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-class .center{
	width: 35%;
}

.footer-class .center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-class .center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-class .center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-class .center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-class .center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-class .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-class .footer-links .link-1:before {
  content: none;
}

 

.footer-class .rightside{
	width: 20%;
}

.footer-class .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-class .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-class .footer-icons{
	margin-top: 25px;
}

.footer-class .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-class{
		font: bold 14px sans-serif;
	}

	.footer-class .leftside,
	.footer-class .center,
	.footer-class .rightside{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-class .center i{
		margin-left: 0;
	}

}


@media(max-width:700px){
    .title{
        font-size: 20px;
    }
 }

